.contacts {
    background: $main-bg;
    padding-bottom: 60px;
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
            }
    &__descr {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    &__subtitle {
        margin: 15px;
    }
    &__social {
        padding: 15px;
        display: flex;
        gap: 15px;
        img {
            width: 24px;
            height: 24px;
        }
    }
    &__form {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items:center;
        background: #000;
    }
    
    
    input, textarea {
        width: 320px;
        margin-bottom: 15px;
        background:#000;
        color:#fff;
        padding: 0 15px;
        &::placeholder {
            color:#FFA501;
            padding: 6px 15px;
            }
    }
    &__triggers {
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 15px;
    }
    &__btn {
    background: #2A7A04;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    padding-top: 0;
    cursor: pointer;
    margin: 0;
    text-align: center;
    &:hover {
        background:#FFA501;
        color:#2A7A04;
        }
    }
    &__policy {
        display: flex;
        width: 240px;
        gap: 15px;
        span {
            color: #fff;
            text-align: center;
        }
        a {
            color: #fff;
        }
        checkbox {
            background:red;
        }
    }
    
}
