.guarantee {
    background: $main-bg;
    padding-top: 60px;
    padding-bottom: 60px;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    h2 {
        text-align: center;
    }
    &__title {
        text-align: end;
        margin-top: 20px;
        font-style: italic;
    }
    p {
        margin-top: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: left;
        span {
            font-weight: 700;
            color: #FFA501;
            text-decoration: underline;
        }
    }
}