@media (max-width:1200px) {
    .container{
        max-width: 960px;
        padding: 0 15px;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 720px;
    }
    .price{
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__item-cost a {
            font-size: 13px;
        }
    }
    .devices {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}
@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
    .price-title {
        width: 100%;
    }
}
@media (max-width:576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .contacts {
        &__form{
            width: 100%;
            padding: 0 15px;
        }
        &__triggers {
            width: 100%;
            
        }
    }
}